LguardaApplication/Service References/LgardaServiceRef/LgardaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LgurdaService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LgurdaService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bool_Check">
    <xs:sequence>
      <xs:element minOccurs="0" name="CHECK" type="xs:boolean" />
      <xs:element minOccurs="0" name="ERROR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bool_Check" nillable="true" type="tns:Bool_Check" />
</xs:schema>